Connected Services/NorthwindService/WCFNorthwindService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WCFNorthwindService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFWPFCRUDEmployeeService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFNorthwindService_CreateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployee" />
  </wsdl:message>
  <wsdl:message name="IWCFNorthwindService_CreateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFNorthwindService_ReadEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadEmployee" />
  </wsdl:message>
  <wsdl:message name="IWCFNorthwindService_ReadEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFNorthwindService_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IWCFNorthwindService_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFNorthwindService_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IWCFNorthwindService_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFNorthwindService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IWCFNorthwindService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFNorthwindService">
    <wsdl:operation name="CreateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFNorthwindService/CreateEmployee" message="tns:IWCFNorthwindService_CreateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFNorthwindService/CreateEmployeeResponse" message="tns:IWCFNorthwindService_CreateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFNorthwindService/ReadEmployee" message="tns:IWCFNorthwindService_ReadEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFNorthwindService/ReadEmployeeResponse" message="tns:IWCFNorthwindService_ReadEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFNorthwindService/UpdateEmployee" message="tns:IWCFNorthwindService_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFNorthwindService/UpdateEmployeeResponse" message="tns:IWCFNorthwindService_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFNorthwindService/DeleteEmployee" message="tns:IWCFNorthwindService_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFNorthwindService/DeleteEmployeeResponse" message="tns:IWCFNorthwindService_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFNorthwindService/GetEmployees" message="tns:IWCFNorthwindService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFNorthwindService/GetEmployeesResponse" message="tns:IWCFNorthwindService_GetEmployees_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFNorthwindService" type="tns:IWCFNorthwindService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEmployee">
      <soap:operation soapAction="http://tempuri.org/IWCFNorthwindService/CreateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadEmployee">
      <soap:operation soapAction="http://tempuri.org/IWCFNorthwindService/ReadEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IWCFNorthwindService/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IWCFNorthwindService/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IWCFNorthwindService/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFNorthwindService">
    <wsdl:port name="BasicHttpBinding_IWCFNorthwindService" binding="tns:BasicHttpBinding_IWCFNorthwindService">
      <soap:address location="http://localhost:8733/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>